// bower:scss
// endbower



.browserupgrade {
    margin: 0.2rem 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

// Set the size of the image.
.photo-viewer {
    $width: 600px;

    min-height: 400px;

    &-container {
        width: $width;
    }
    & img {
        // height: $width;
        width: $width;
    }
}

// Position the selectable icon in the upper right
.photo-viewer {
    $size: 50px;

    position: relative;

    & img.photo-sphere-icon {
        position: absolute;
        cursor: pointer;
        top: 10px;
        right: 15px;
        height: $size;
        width: $size;
    }
}
